@font-face
{
    font-family: 'big_noodle_titling_oblique';
    src: url('fonts/big_noodle_titling_oblique.eot');
    src: url('fonts/big_noodle_titling_oblique.eot?#') format('embedded-opentype'),
    url('fonts/big_noodle_titling_oblique.woff') format('woff'),
    url('fonts/big_noodle_titling_oblique.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face
{
    font-family: 'big_noodle_titling';
    src: url('fonts/big_noodle_titling.eot');
    src: url('fonts/big_noodle_titling.eot?#') format('embedded-opentype'),
    url('fonts/big_noodle_titling.woff') format('woff'),
    url('fonts/big_noodle_titling.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


body, h1{
    font-family: 'big_noodle_titling', Arial, sans-serif;
}

article, aside, details, figcaption, figure, footer,header,
hgroup, menu, nav, section { display: block; }

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    width: 100%;
    background-color: white;
    display: flex;
}
.logo_name{
    color: #696969;
    font-size: 38px;
    margin: 58px auto 55px 0;
    letter-spacing: 4px;
    line-height: 0.78em;
}

.logo{
    height: 45px;
    margin: 50px 26px 43px 13.3%;
}
.menu{
    display: none;
}

nav{
    margin: 64px 189px 58px 0;
}

.burger{
    display: flex;
    flex-direction: column;
    height: 22px;
    justify-content: space-between;
    align-items: flex-end;

}
.burger__line{
    background-color: #696969;
    width: 38px;
    height: 2px;
}

.menu.active {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    margin-top: 20px;
}
.menu.active a{
    color: #696969;
    padding: 10px 0;
    text-align: right;
}

.menu.active a:hover{
    color: RGBA(105, 105, 105, 0.8);
}

.scroll{
    width: 100%;
    color: #d6d5d5;
    text-align: center;
    background: linear-gradient(to top, rgba(23,31,35,.7), rgba(23,31,35,.7)), url("images/paris.jpg") top center no-repeat;
    background-size: cover;
}

.scroll h1{
    font-size: 73px;
    font-weight: normal;
    padding-top: 309px;
    letter-spacing: 10px;
    z-index: 2;
}

.scroll .like{
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 3px;
}

.scroll img{
    margin-top: 169px;
}

.scroll_down{
    padding: 8px 0 45px 0;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

.about_us{
    background-color: white;
    width: 100%;}

.about_us h2{
    font-size: 51px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #3d3d3d;
    padding-top: 85px;
}

.about_us h2::after {
    content: "";
    width: 153px;
    height: 2px;
    background-color: #f6744b;
    right: 0;
    margin: 0 auto;
    display: block;
}
.about_us > p{
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    margin: 19px 30% 24px 30%;
    color: #7d7d7d;
    text-align: center;
}

.infocards{
    display: grid;
    margin: 60px 13.3% 0 13.3%;
    grid-column-gap: 11px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 11px;
    align-items: center;
    justify-items: center;
    margin-bottom: 117px;
}

.infocard{
    text-align: center;
    color: #7d7d7d;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    background-color: #ebebeb;
    width: 315px;
    height: 195px;
    }

.infocard img{
    margin: 0 auto;
}
.infocard:first-child img{
    margin-top:25px;
    margin-bottom:19px;
}
.infocard:nth-child(2) img{
    margin-top:31px;
    margin-bottom:25px;
}
.infocard:nth-child(3) img{
    margin-top:45px;
    margin-bottom:28px;
}


.infocard p{
    padding:0 10% 25px 10%;
}

.infocard h3{
    margin-bottom: 8px;
    font-weight: 550;
}

.watch{
    background-color: #171f23;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.watch__text{
    text-align: center;
}

.watch h3{
    color: #e7e7e7;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    margin-top: 122px;
    letter-spacing: -1px;
}

.watch p{
    color: #696969;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin: 21px 10% 0 10%;
}
.button{
    color: #ebebeb;
    background-color: #e84c3d;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 14px;
    width: 128px;
    height: auto;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 0.78em;
    margin: 78px auto 100px auto;
}

.watch__video {
    overflow: hidden;
    position: relative;
    width:100%;
}

.watch__video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.watch__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.our_works h2{
    font-size: 51px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #3d3d3d;
    padding-top: 70px;
}
.our_works h2::after {
    content: "";
    width: 153px;
    height: 2px;
    background-color: #f6744b;
    right: 0;
    margin: 0 auto;
    display: block;
}

.our_works > p {
    color: #696969;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin: 23px 31% 81px 31%;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

.content {
    /* скрыть контент по умолчанию */
    display: none;
    height: 525px;
    width: 100%;
        }

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 200px;
    flex-wrap: wrap;
    margin-top: 27px;
}

.content .img{
    height: 100%;
    width: 33.3%;
    overflow: hidden;
}

.img img{
    width: auto;
    height: 100%;
}

.our_works_sections {
    text-align: center;
}

.our_works_sections label{
    display: inline-block;
    text-align: center;
    color: #3d3d3d;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.5px;
    padding-left: 37px;
}
.our_works_sections label:first-of-type {
    padding-left: 0;
}

input[type="radio"]:checked+label {
    font-weight: bold;
}

input[type="radio"]:checked+label:after {
    content: "";
    width: 110px;
    height: 2px;
    background-color: #f6744b;
    right: 0;
    margin: 7px auto 0 auto;
    display: block;
}
.clients{
    height: 240px;
    width: 100%;
    background-color: #1c1c1c;
}

.container{
    max-width: 680px;
    margin: 0 auto;
    box-sizing: border-box;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__item {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    display: flex;
    justify-content: center;
    font-size: 34px;
    letter-spacing: 0.4px;
    color: #ececec;
    font-family: 'VAG Rounded Next', sans-serif;
}

.slider__items {
     margin-top: 105px;
    justify-content: space-between;
}

.slider__control{
    top: 128px;
    font-weight: lighter;
}

.videohive__frame{
    width: 43px;
    height: 43px;
}
.themeforest__frame{
    width: 46px;
    height: 40px;
}
.graphicriver__frame{
    width: 52px;
    height: 56px;
}

.who_we_are h2{
    font-size: 49px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #3d3d3d;
    padding-top: 68px;
}
.who_we_are h2::after {
    content: "";
    width: 153px;
    height: 2px;
    background-color: #f6744b;
    right: 0;
    margin: 0 auto;
    display: block;
}

.who_we_are > p {
    color: #696969;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    margin: 25px 29% 81px 29%;
    text-align: center;}

.designer_card{
    display: grid;
    max-width: 1004px;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 436px;
    grid-gap: 22px;
    margin: 0 auto 105px auto;
}

.designer_info{
    background-color: #ebebeb;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.designer_foto{
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #f26c4f;
    margin: 72px auto 0 auto;
}

.designer_name{
    margin: 27px auto 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: #3d3d3d;
    text-align: center;
}
.designer_profession{
    margin: 0 auto;
    text-align: center;
    color: #494949;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.networks{
    display: flex;
    justify-content: space-between;
    width: 66px;
    height: 12px;
    margin: 15px auto 0 auto;
}

.bullets{
    display: flex;
    justify-content: space-between;
    width: 52px;
    height: 11px;
    margin: 44px auto 0 auto;
}

.grey_circle{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #8e8181;
}
.white_circle{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: white;
}

.skills{
    background-color: #ebebeb;
    font-family: Helvetica, sans-serif;
}

.skills h4{
    margin-top: 117px;
    margin-left: 54px;
    text-align: left;
    color: #3d3d3d;
    font-size: 25px;
}

.skills>p{
    margin-top: 14px;
    margin-left: 56px;
    margin-right: 20px;
    text-align: left;
    font-size: 15px;
    color: #696969;
}

.skills_graph{
    display: grid;
    margin: 41px 57px 65px 54px;
    grid-template-columns: 24.7% 68.1% 7.2%;
    grid-template-rows: repeat(4, 32px);
}

.skill_name{
    font-size: 15px;
}
.white_line {
    margin-top: 9px;
}
.percentage{
    font-size: 15px;
    justify-self: end;
}

.white_line{
    max-width: 369px;
    height: 1px;
    background-color: white;
}

.photoshop_line .red_line{
    width: 88%;
    height: 1px;
    background-color: #f26c4f;

}
.illustrator_line .red_line{
    width: 92%;
    height: 1px;
    background-color: #f26c4f;
}
.sketch_line .red_line{
    width: 90%;
    height: 1px;
    background-color: #f26c4f;
}
.AE_line .red_line{
    width: 98%;
    height: 1px;
    background-color: #f26c4f;
}

.features{
    background-color: #171f23;
    width: 100%;
    height: 384px;
}

.features h3{
    font-size: 33px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #f6f6f6;
    padding-top: 55px;
    font-family: Helvetica, sans-serif;
}

.features h3::after {
    content: "";
    width: 88px;
    height: 1px;
    background-color: #696969;
    right: 0;
    margin: 14px auto 0 auto;
    display: block;
}
.features_cards{
    display: flex;
    max-width: 895px;
    margin: 44px auto 0 auto;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
}

.features_card{
    text-align: center;
}

.picture_box{
    height: 57px;
}

.picture_box image{
    margin: 0 auto;
}


.features_card>p:first-of-type{
    font-size: 19px;
    color: #f6f6f6;
    margin-top: 20px;
}
.number{
    font-size: 50px;
    color: #f6f6f6;
    margin-top: 19px;
}

.shortcodes img{
    margin-top: 2px;
}

.blog_posts{
    height: 795px;
    background-color: white;
}

.blog_posts h2{
    font-size: 49px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #3d3d3d;
    padding-top: 68px;
}
.blog_posts h2::after {
    content: "";
    width: 153px;
    height: 2px;
    background-color: #f6744b;
    right: 0;
    margin: 0 auto;
    display: block;
}

.blog_posts > p {
    color: #696969;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    margin: 25px 29% 70px 29%;
    text-align: center;}

.blog_cards{
    max-width: 1004px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 426px;
    grid-column-gap: 22px;
    margin: 0 auto;
}

.blog-card{
    background-color: #ebebeb;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

.hover_blok{
    position: absolute;
    top: 86px;
    left: calc((100% - 50px - 50px)/2);
    right: calc((100% - 50px - 50px)/2);
    display: none;
}
.link_circle, .eye_circle{
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.link_circle{
    background-color: #e87e5d;
}

.link_circle img{
    width: 22px;
    height: 22px;
    padding: calc((100% - 22px) / 2) calc((100% - 22px) / 2) calc((100% - 22px) / 2) calc((100% - 22px) / 2);
}

.eye_circle{
    background-color: #f6e5e0;
}

.eye_circle img{
    width: 22px;
    height: 16px;
    padding: calc((100% - 16px) / 2) calc((100% - 22px) / 2) calc((100% - 16px) / 2) calc((100% - 22px) / 2);
}

.blog_image{
    width: 100%;
    height: 217px;
    position: relative;
}

.blog_image>img{
    width: 100%;
    height: 217px;
    object-fit: cover;
}

.blog_image>img:hover{
    filter: blur(5px); /* Размытие изображения */
    transition: 1s; /* Время перехода */
}

.blog_image:hover .hover_blok {
    display: flex;
    justify-content: space-between;
    filter: none;
}

.blog_header{
    font-size: 19px;
    color: #505050;
    margin-top: 33px;
    margin-left: 27px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.blog-text{
    font-size: 14px;
    color: #818181;
    margin-top: 22px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: Helvetica, sans-serif;
}
.blog_information{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 12px;
    color: #818181;
}

.blog_information--first, .blog_infomation--second {
    display: inline;
    font-family: Helvetica, sans-serif;
}

.blog_information--first p, .blog_infomation--second p{
    display: inline;
}

.chose_plan{
    background-color: #171f23;
    height: 705px;
}

.chose_plan h3{
    font-size: 33px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #f6f6f6;
    padding-top: 55px;
    font-family: Helvetica, sans-serif;
}

.chose_plan h3::after {
    content: "";
    width: 88px;
    height: 1px;
    background-color: #696969;
    margin: 15px auto 0 auto;
    display: block;
}

.prising_cards{
    display:flex;
    justify-content: center;
    gap: 2px;
    margin-top: 56px;
    height: 705px;
}

.prising_card{
    width: 232px;
    background-color: #1f282c;
    height: 450px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    color: #efefef;
}

.prising_card_header{
    background-color: #0e1316;
    width: 100%;
    height: 128px;
    text-align: center;
    margin-bottom: 28px;
}

.prising_card>p {
    font-size: 16px;
    padding-top: 15px;
}

.prising_card_header p:first-child{
    font-size: 16px;
    padding-top: 37px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.prising_card_header p:nth-child(2){
    font-size: 37px;
    padding-top: 0;
}

.prising_card_header span{
    font-size: 25px;
}

.prising_card span{
    font-weight: bold;
}
.purchase_button{
    width: 126px;
    height: 25px;
    color: #fcd1c3;
    margin: 74px auto auto auto;
    background-color: #f6744b;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding-top: 9px;
}

.prising_card:hover{
    border:  1px solid #f6744b;
}

.prising_card:hover>p span{
    color: #f6744b;
}

.touch h2{
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #3d3d3d;
    padding-top: 75px;
}
.touch h2::after {
    content: "";
    width: 153px;
    height: 2px;
    background-color: #f6744b;
    right: 0;
    margin: 0 auto;
    display: block;
}

.touch > p {
    color: #696969;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    margin: 25px 31% 70px 31%;
    text-align: center;}

form{
    width: 779px;
    height: 328px;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 16px 53px 64px 80px 115px;
    grid-template-areas: "label_name label_mail"
    "input_name input_mail"
"label_massage label_massage"
"input_massage input_massage"
"button button";
    grid-column-gap: 29px;

}
form label{
    text-align: left;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    color: #3d3d3d;


}

input {
    border: none;
    border-bottom: 2px solid #696969;
}

label[for="name"]{
    grid-area: label_name;
    justify-self: start;
}
label[for="mail"]{
    grid-area: label_mail;
    justify-self: start;
}
label[for="massage"]{
    grid-area: label_massage;
    align-self: end;
}

#name{
    grid-area: input_name;
}
#mail{
    grid-area: input_mail;
}
#massage{
    grid-area: input_massage;
}
form button{
    grid-area: button;
    width: 203px;
    height: 51px;
    margin: 0 auto;
    color: white;
    background-color: #f6744b;
    align-self: end;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.5px;
}

label span{
    color: #f6744b;
}



.accordion {
    background-color: #0c1215;
    color: #fff;
    cursor: pointer;
    padding: 27px 0 28px 31px;
    width: 100%;
    border: none;
    text-align: center;
    font-weight: bold;
    outline: none;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    transition: 0.4s;
}

.accordion img{
    margin-left: 10px;
}

.panel {
    padding: 0;
    display: none;
    background-color: #171f23;
    overflow: hidden;
}
.creators{
    background-color: #171f23;
    text-align: center;
    color: white;
    height: 238px;
}

.creators>img{
    margin-top: 49px;
}

.creators p{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin-top: 3px;
}

.creators p:first-of-type{
    font-family: 'big_noodle_titling', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
}














@media screen and (max-width: 768px) {
    .menu.active {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        margin-top: 10px;
    }

    .slider h1 {
        font-size: 53px;
        font-weight: normal;
        padding-top: 200px;
    }

    .watch {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 430px 430px;
    }

    #tab-btn-1:checked ~ #content-1,
    #tab-btn-2:checked ~ #content-2,
    #tab-btn-3:checked ~ #content-3,
    #tab-btn-4:checked ~ #content-4,
    #tab-btn-5:checked ~ #content-5 {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .content {
        height: 100%;
        width: 100%;
    }

    .content .img {
        height: auto;
        width: auto;
        overflow: hidden;
    }

    .designer_card {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .skill_name, .percentage {
        font-size: 12px;
    }

    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        font-size: 24px;
        letter-spacing: 0.4px;
        color: #ececec;
        font-family: 'VAG Rounded Next', sans-serif;
    }

    .features_cards {
        display: grid;
        max-width: 895px;
        margin: 44px auto 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 15px;
        font-family: Helvetica, sans-serif;
    }

    .features {
        background-color: #171f23;
        height: auto;
    }

    .blog_cards {
        max-width: 1004px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-column-gap: 22px;
        margin: 0 auto;
    }

    .blog_posts {
        height: auto;
        background-color: white;
    }

    .prising_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 450px;
        gap: 2px;
        justify-items: center;
        margin-top: 56px;
    }

    .chose_plan {
        height: 1100px;
    }

    form {
        width: 100%;
        height: auto;
        margin-top: 92px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 83px;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0;
        grid-template-rows: 16px 53px 16px 53px 16px 80px 115px;
        grid-template-areas: "label_name"
         "input_name"
        "label_mail"
        "input_mail"
        "label_massage"
        "input_massage"
        "button";
    }

    form label{
        justify-self: start;
    }
    form button{
        justify-self: start;
    }
}



